@charset "utf-8";

.wrap {
	padding: 10px 20px 15px;
	width: 400px;
}

p {
    margin-top: 5px;
    font-size: 13px;
}

.form {
    margin-top: 15px;
}

.buttons {
    float: left;
}

.button {
    display: table-cell;
    overflow: hidden;
    padding: 0 20px;
	width: 120px;
	height: 60px;
	text-align: center;
    vertical-align: middle;
	font-size: 13px;
}

.login {
	color: white;
	cursor: pointer;
    
}

.orico .login {
    background-image: url(../assets/images/button_red.png);
}

.aeon .login {
    background-image: url(../assets/images/button_blue.png);
}

.smbc .login {
    background-image: url(../assets/images/button_dark_green.png);
}

.shop-area {
    margin: 0 0 0 170px;
    width: 230px;
    font-size: 12px;
}

.shop-area::after {
    display: block;
    clear: both;
    content: "";
}

h2 {
    font-weight: bold;
    font-size: 13px;
}

.shop-list {
    margin: 7px 0 0 7px;
}

li {
    text-indent: -17px;
    padding-left: 17px;
    line-height: 1.5;
}

li * {
    vertical-align: middle;
}

li input {
    margin-right: 2px;
}